[submodule "mod/inc/wswrap"]
	path = mod/inc/wswrap
	url = https://github.com/black-sliver/wswrap.git
[submodule "mod/inc/apclientpp"]
	path = mod/inc/apclientpp
	url = https://github.com/black-sliver/apclientpp.git
